@using Arity.Data.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Notification";

}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Notification</h2>
                                    <p>List of notifications</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                {
                                    <button onclick="AddEditNotification(0)" data-toggle="tooltip" data-placement="left" class="btn"><i class="fa fa-plus"></i> Add</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Data Table area Start-->
<div class="data-table-area" style="margin-top:25px;height:100%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Notifications List</h2>
                        <p>Below are List of Notifications.</p>
                    </div>
                    <div class="date-filter">
                    </div>
                    <div class="table-responsive">
                        <table id="tblCompany" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:30%;">Message</th>
                                    <th style="width:10%;">Client Name</th>
                                    <th style="width:10%;">Type</th>
                                    <th style="width:10%;">On Broadcast Date</th>
                                    <th style="width:10%;">Off Broadcast Date</th>
                                    <th style="width:5%;" align="center">Complete</th>
                                    <th style="width:5%;"></th>
                                    <th style="width:5%;"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal animated fade" id="modalNotification" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-large">
            <div class="modal-content">
                <div class="modal-header" style="margin-bottom:35px;">
                    <h3>Add/Update Notification</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(function () {
            $("#liMaster").addClass("active");
            $("#Master").addClass("active");
            $("#liHome").removeClass("active");
        table =  $('#tblCompany').DataTable({
            "ajax": function (data, callback, settings) {
                $.ajax({
                    url: '@Url.Action("LoadNotification","Master")',
                    type: "GET",
                    dataType: "json",
                    data: {
                    },
                    beforeSend: function (xhrObj) {
                        $("#loading").show();
                    }
                    })
                    .done(function (data, textStatus, jqXHR) {
                        callback(data);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        Notification('Error! ', ''+errorThrown+'', 'danger');
                    })
                    .always(function (data, textStatus, jqXHR) {
                        $("#loading").hide();
                    });
            },
            "language": {
                "emptyTable": "No notification found"
            },
            dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Excel',
                        text:'Export to excel'
                    }
                ],
           "columns": [
                { "data": "Message" },
                { "data": "ClientName" },
                { "data": "TypeString" },
                { "data": "OnBroadcastDateTimeString" },
                { "data": "OffBroadcastDateTimeString" },
                {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                        if(data.IsComplete)
                            return '<i class="notika-icon notika-checked" aria-hidden="true"></i>';
                        else
                            return '<i class="notika-icon notika-close" aria-hidden="true"></i>';
                    }
                },
                {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                            return '<button class="btn waves-effect" onclick="AddEditNotification(' + data.NotificationId + ')"><i class="fa fa-edit" aria-hidden="true"></i></button>';
                    }
               },
               {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                           return '<div class="dialog-pro dialog">' +
                            '<button class="btn btn-info" onclick="DeleteNotification(' + data.NotificationId + ')" id="sa-warning">'+
                            '<i class="fa fa-trash" aria-hidden="true"></i>' +
                            '</button> </div>';
                    }
                }
            ],
            "order": [[0]]
        });

         $("#btnFilterGrid").click(function () {
                 table.ajax.reload();
        });
    });

      function AddEditNotification(Id) {
          $("#loading").show();
            $.ajax({
                url: '@Url.Action("AddNotification","Master")',
                data: { id: Id},
                type: 'GET',
                dataType: 'Html',
                success: function (response) {
                    $('#modalNotification .modal-body').html(response);
                    $('#modalNotification').modal('show');
                     $("#loading").hide();
                },
                failure: function () {
                     $("#loading").hide();
                        Notification('', 'Something went wrong, Please try again', 'danger');
                },
            });
        }

        function DeleteNotification(id) {
            swal({
			title: "Are you sure?",
			text: "You will not be able to recover this notification",
			type: "warning",
			showCancelButton: true,
			confirmButtonText: "Delete",
            }).then(function () {
                $("#loading").show();
                $.ajax({
                    url: '@Url.Action("DeleteNotification", "Master")',
                    type: "POST",
                    data: { notificationId: id },
                    cache: false,
                    success: function (response) {
                        table.ajax.reload();
                        $("#loading").hide();
			            swal("Deleted!", "Notificaton has been deleted.", "success");
                    },
                    error: function (error) {
                        $("#loading").hide();
                        Notification('', 'Internal error occured, Please try again', 'danger');
                    }
                });
		});

        }
    </script>
}


