
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RMN Consultant</title>
    <style>
        .btn {
            color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    border: 1px solid #46b8da;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
        }
    </style>
</head>
<body style="margin:0px;overflow-y:hidden;">
    <div>
        <img src="/Content/images/landingpage.jpg" style="width:100%;height:626px;" />
    </div>

    <div style="position: absolute;top: 40%;left: 0;right: 0;text-align: center;">
        <h2>RMN Consultant's website coming soon...</h2>
        <button class="btn" onclick="location.href='/login'">Login into Portal</button>
    </div>
</body>
</html>
