<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table border='0' cellpadding='0' cellspacing='0' width='100%'> 
                                  <tr><td> 
                                Hello ###Name###, 
                                </td></tr>

                                <tr><td> 
                                Click below link to reset your password
                                </td></tr>
                                <tr><td style='padding: 20px 0 10px 0;'>
                                <a href="  ###ResetLink###  "> click here </a>
                               </td></tr>

                                <tr><td>
                                Thank you
                                </tr></td>
                                </table>


</body>
</html>