@model Arity.Data.Vendor_User
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-example-wrap">
            <div id="vallidationError" style="margin-bottom:25px;text-align: center;">
                <span style="color:red" id="lblvalidationError"> </span>
            </div>

            <div id="successMsg" style="margin-bottom:25px;text-align: center;">
                <span style="color:green; align-self:center;" id="lblsuccessMsg"> </span>
            </div>

            <div class="form-example-int form-horizental">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="hrzn-fm">Old password<span style="color:red;vertical-align:text-bottom;">*</span></label>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                            <div class="nk-int-st">
                                @Html.PasswordFor(_ => _.Password, new { @class = "form-control input-sm", placeholder = "Old Password" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-example-int form-horizental mg-t-15">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="hrzn-fm">New Password<span style="color:red;vertical-align:text-bottom;">*</span></label>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                            <div class="nk-int-st">
                                @Html.PasswordFor(_ => _.NewPassword, new { @class = "form-control input-sm", placeholder = "New Password" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-example-int form-horizental mg-t-15">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="hrzn-fm">Confirm Password<span style="color:red;vertical-align:text-bottom;">*</span></label>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                            <div class="nk-int-st">
                                @Html.PasswordFor(_ => _.confirmPassword, new { @class = "form-control input-sm", placeholder = "Confirm Password" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-example-int mg-t-15 text-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;">
                        <button type="button" class="btn btn-success notika-btn-success waves-effect" id="btnPasswordChanges">Change</button>
                        <button type="button" id="btnChangePasswordCancel" class="btn btn-default notika-btn-default waves-effect">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
