@*<DIV id="dropzone">
        <FORM class="dropzone needsclick" id="demo-upload" action="/upload">
            <DIV class="dz-message needsclick">
                Drop files here or click to upload.<BR>
                <SPAN class="note needsclick">
                    (This is just a demo dropzone. Selected
                    files are <STRONG>not</STRONG> actually uploaded.)
                </SPAN>
            </DIV>
        </FORM>
    </DIV>*@

@*<script src="/Content/js/dropzone/dropzone.js"></script>
    <link href="/Content/css/dropzone.css" rel="stylesheet" />
    <form action="@Url.Action("UploadUserDocument","Register")" class="dropzone" id="dropzoneJsForm">
        <div class="dz-message needsclick">
            <i class="fa fa-cloud-upload" style="font-size:35px"></i><br />
            Drop files here or click to upload.<br />
        </div>
    </form>*@


