@{
    ViewBag.Title = "Dashboard";
}



<div class="notika-status-area" style="margin-top:30px;">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="realtime-statistic-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="add-todo-list notika-shadow mg-t-30">
                    <div class="realtime-ctn">
                        <div class="realtime-title">
                            <h2>Notifications</h2>
                        </div>
                    </div>
                    <div class="card-box">
                        <div class="todoapp">
                            <div class="notika-todo-scrollbar">
                                <ul class="list-group no-margn todo-list" >
                                    <li class="list-group-item" id="notification-list">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="add-todo-list notika-shadow mg-t-30">
                    <div class="realtime-ctn">
                        <div class="realtime-title">
                            <h2>Tasks</h2>
                        </div>
                    </div>
                    <div class="card-box">
                        <div class="todoapp">
                            <div class="notika-todo-scrollbar">
                                <ul class="list-group no-margn todo-list">
                                    <li class="list-group-item" id="task-list">
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="add-todo-list notika-shadow mg-t-30">
                    <div class="realtime-ctn">
                        <div class="realtime-title">
                            <h2>Documents</h2>
                        </div>
                    </div>
                    <div class="card-box">
                        <div class="todoapp">
                            <div class="notika-todo-scrollbar">
                                <ul class="list-group no-margn todo-list" id="documentList">
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
    $("#task-list").html('<li class="list-group-item"><div class="checkbox checkbox-primary"><label for="9">Loading...</label></div></li>')
    $("#notification-list").html('<li class="list-group-item"><div class="checkbox checkbox-primary"><label for="9">Loading...</label></div></li>')
    $.ajax({
                url: '@Url.Action("GetAllTask", "Home")',
                dataType: "json",
                type: "GET",
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#task-list").html('');
                    $(response).each(function (i, data) {
                        $("#task-list").append('<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">'+
                                        '<div class="breadcomb-list" style="padding:0px !important; background: #fff; margin-top: 10px !important;">'+
                                            '<div class="row">'+
                                                '<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">'+
                                                    '<div class="breadcomb-wp">'+
                                                        '<div class="breadcomb-ctn" style="margin-left:0px !important">'+
                                                          '<p style="font-size: 16px;font-weight: 600;">' + data.TaskName +
                                                            '<span style="color: #6e5e5e;font-size: 12px;font-weight: 400;margin-left:10px;">'
                                                            + GetFormttedStaus(data.StatusString) + '</span></p>' +
                                                             '<span class="bread-ntd"  style="margin-top: 11px !important;color: #261d1d7a;">Assign To:  '+
                                                            '<span class="bread-ntd" style="margin-left: 5px;color: #6e5e5e;">' + data.UserName +'</span></span><br/>' +
                                                            '<span class="bread-ntd"  style="margin-top: 11px !important;color: #261d1d7a;">Client:  '+
                                                            '<span class="bread-ntd" style="margin-left: 5px;color: #6e5e5e;">' + data.ClientName +'</span></span>' +
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div')
                    });
                    if (response.length <= 0) {
                    $("#task-list").append('<span style="display:block;text-align:center;">Task not found</span>');
                }
                },
                error: function (error) {
                }
    });

    $.ajax({
                url: '@Url.Action("GetAllNotification", "Home")',
                dataType: "json",
                type: "GET",
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#notification-list").html('');
                    $(response).each(function (i, data) {
                        $("#notification-list").append(
                            '<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom:1px solid #eee;">' +
                            '<div class="breadcomb-list" style="padding:0px !important; background: #fff; margin-top: 10px !important;margin-bottom:5px;">' +
                            '<div class="row">' +
                            '<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">' +
                            '<div class="breadcomb-wp">' +
                            '<div class="breadcomb-ctn" style="margin-left:0px !important">' +
                            '<p style="font-size: 15px;">' + data.Message +
                            '<span style="color: #6e5e5e;font-size: 12px;font-weight: 400;margin-left:10px;"></span></p>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>');
                    });
                    if (response.length <= 0) {
                    $("#notification-list").append('<span style="display:block;text-align:center;">No new notification for you</span>');
                }
                },
                error: function (error) {
                }
    });

    $.ajax({
        url: '@Url.Action("GetDocumentList", "Home")',
        dataType: "json",
        type: "GET",
        cache: false,
        contentType: 'application/json; charset=utf-8',
        success: function (response) {
                $("#documentList").html('');
            $(response).each(function (i, data) {
                    //$("#documentList").append('<li class="list-group-item"><div class="checkbox checkbox-primary"><label for="document">'+data.Name+'</label></div></li>')
                $("#documentList").append('<li class="list-group-item">'+
                                '<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">'+
                                    '<div class="breadcomb-list" style="padding:0px !important; background: #fff; margin-top: 10px !important;">'+
                                        '<div class="row">'+
                                            '<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">'+
                                                '<div class="breadcomb-wp">'+
                                                    '<div class="breadcomb-ctn" style="margin-left:0px !important">'+
                                                        '<p style="font-size: 16px;font-weight: 600;">' + data.Name +
                                                        '<span style="color: #6e5e5e;font-size: 12px;font-weight: 400;margin-left:10px;">'
                                                        + data.DocumentTypeName + '</span></p>' +
                                                        '<span class="bread-ntd"  style="margin-top: 11px !important;color: #261d1d7a;">Created By:  '+
                                                        '<span class="bread-ntd" style="margin-left: 5px;color: #6e5e5e;">' + data.ClientName +'</span></span>' +
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                            '<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">'+
                                                '<div class="breadcomb-report">'+
                                                    '<button data-toggle="tooltip" id="btnDownloadDocument" onClick="downloadDocument('+data.DocumentId+')" data-placement="left" title="" class="btn waves-effect" data-original-title="Download Report"><i class="notika-icon notika-down-arrow"></i></button>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '</li>')
            });
            if (response.length <= 0) {
                $("#documentList").append('<span style="display:block;text-align:center;">No documents yet</span>');
            }
            },
            error: function (error) {
            }
    });

    function downloadDocument(docID) {
        window.open("@Url.Action("DownloadDocument", "Home")?documentID="+docID);
    }

    function GetFormttedStaus(StatusName) {
        if(StatusName ==="Assigned")
                        return '<span class="btn-info" style="padding:3px;">'+StatusName+'</span>';
                    else if (StatusName === "InProgress")
                        return '<span class="btn-warning" style="padding:3px;">' + StatusName + '</span>';
                    else if (StatusName === "Cancel")
                        return '<span class="btn-danger" style="padding:3px;">' + StatusName + '</span>';
                    else if (StatusName === "OnHold")
                        return '<span class="btn-purple" style="padding:3px;">' + StatusName + '</span>';
                    else if (StatusName === "Pending")
                        return '<span  class="btn-deeppurple" style="padding:3px;">' + StatusName + '</span>';
                    else if (StatusName === "Unknown")
                        return '<span  class="btn-black" style="padding:3px;">' + StatusName + '</span>';
                    else
                        return '<span class="btn-success" style="padding:3px;">'+StatusName+'</span>';
    }
    </script>
}