@using Arity.Data.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Payment";
}

<style>
    td.details-control {
        background: url('/Content/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/Content/images/details_close.png') no-repeat center center;
    }

    .date-filter .filter-date-button {
        width: 14%;
    }
</style>

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Receipt History</h2>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                {
                                    <button id="btnAddInvoiceEntry" onclick="AddUpdatePaymentEntry(0)" data-toggle="tooltip" data-placement="left" class="btn"><i class="fa fa-plus"></i> Add</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End-->
<div class="modal animated fade" id="modelPaymentEntry" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header" style="margin-bottom:35px;">
                <h3>Add/Update Receipt entry</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Receipt History</h2>
                        <p>Below are receipt history.</p>
                    </div>

                    <div class="date-filter">

                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date" id="data_1">
                            <label>From</label>
                            <div class="input-group date nk-int-st">
                                <span class="input-group-addon"></span>
                                <input type="text" id="FromDate" class="form-control" value="@(((DateTime)ViewBag.FromDate).ToString("dd/MM/yyyy"))" readonly>
                            </div>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date" id="data_1">
                            <label>To</label>
                            <div class="input-group date nk-int-st">
                                <span class="input-group-addon"></span>
                                <input type="text" id="ToDate" class="form-control" value="@(((DateTime)ViewBag.ToDate).ToString("dd/MM/yyyy"))" readonly>
                            </div>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date-button" id="data_1">
                            <button type="button" class="btn btn-success notika-btn-success waves-effect" id="btnFilterGrid">Search</button>
                        </div>
                        <div class="form-group nk-datapk-ctm form-elet-mg filter-date-button" id="data_1">
                            <button type="button" class="btn btn-success notika-btn-success waves-effect" onclick="downloadPDF()">Export PDF</button>
                        </div>
                        @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                        {
                            <div class="form-group nk-datapk-ctm form-elet-mg filter-date-button" id="data_1">
                                <button type="button" class="btn btn-success notika-btn-success waves-effect" onclick="downloadReciept()">Export Excel</button>
                            </div>
                        }

                    </div>
                    <div class="table-responsive">
                        <table id="tblPaymentHistory" class="table table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:5%;"><input type="checkbox" class="chkSelectAll" /></th>
                                    <th style="width:12%;">Invoice#</th>
                                    <th style="width:12%;">Receipt#</th>
                                    <th style="width:10%;">Discount</th>
                                    <th style="width:12%;">Total Amount</th>
                                    <th style="width:10%;">Date</th>
                                    <th style="width:10%;">Bank Name</th>
                                    <th style="width:10%;">Cheque#</th>
                                    <th style="width:9%;">Status</th>
                                    @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                                    {
                                        <th style="width:9%;">Update</th>
                                    }
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        $("#liReceipt").addClass("active");
        $("#liHome").removeClass("active");
        table = $('#tblPaymentHistory').DataTable({
            "ajax": function (data, callback, settings) {
                $.ajax({
                    url: '@Url.Action("LoadPaymentHistory","Home")',
                    type: "GET",
                    dataType: "json",
                    data: {
                        from: $("#FromDate").val(),
                        to: $("#ToDate").val()
                    },
                    beforeSend: function (xhrObj) {
                        $("#loading").show();
                    }
                })
                    .done(function (data, textStatus, jqXHR) {
                        callback(data);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        Notification('Error! ', '' + errorThrown + '', 'danger');
                    })
                    .always(function (data, textStatus, jqXHR) {
                        $("#loading").hide();
                    });
            },
            "language": {
                "emptyTable": "No receipts found"
            },
            "columns": [
                {
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, full) {
                        return '<input type="checkbox" class="chkSelect" data-id="'+data.ReceiptId+'" data-toggle="tooltip" \>';
                    }
               },
                { "data": "InvoiceNumbers" },
                { "data": "RecieptNo" },
                { "data": "Discount" },
                { "data": "TotalAmount" },
                { "data": "CreatedDateString" },
                { "data": "BankName" },
                { "data": "ChequeNumber" },
                { "data": "Status" },
                @if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
                {
                    @:{
                    @:    "orderable": false,
                    @:    "data": null,
                    @:    "render": function (data, type, full) {
                    @:            return '<button class="btn waves-effect" onclick="AddUpdatePaymentEntry(' + data.ReceiptId + ')"><i class="fa fa-edit" aria-hidden="true"></i></button>';
                    @:    }
                    @:}
                    }
            ],
            "order": [[5, "desc"]]
       });

         $("#btnFilterGrid").click(function () {
                table.ajax.reload();
         });

         $(".chkSelectAll").change(function () {

            $(".chkSelect").each(function ()
            {
                $(this).prop("checked",$(".chkSelectAll").is(":checked"));
            });

        });
       });

        function downloadReciept() {
             var recieptIds = "";
            $(".chkSelect").each(function () {
                if ($(this).is(":checked")) {
                    recieptIds = recieptIds + $(this).attr("data-id") + ",";
                }
            });
            if (recieptIds === "") {
                Notification('', 'Please select atleast one receipt', 'danger');
                return;
            }
            window.open("/home/GenerateReciept/"+recieptIds);
        }

        function downloadPDF() {
            var recieptIds = "";
            $(".chkSelect").each(function () {
                if ($(this).is(":checked")) {
                    recieptIds = recieptIds + $(this).attr("data-id") + ",";
                }
            });
            if (recieptIds === "") {
                Notification('', 'Please select atleast one receipt', 'danger');
                return;
            }
                window.open("/home/GenerateReceiptPDF/" + recieptIds);
        }
    </script>
}

@if (Convert.ToInt32(SessionHelper.UserTypeId) != (int)Arity.Service.Core.UserType.User)
{
    <script>
        function AddUpdatePaymentEntry(id) {
              $("#loading").show();
            $.ajax({
                url: '@Url.Action("AddPaymentEntry", "Home")',
                dataType: "html",
                type: "GET",
                data: { id: id },
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#loading").hide();
                    $("#modelPaymentEntry .modal-body").html(response);
                  $("#modelPaymentEntry").modal('toggle');
                },
                error: function (error) {
                    $("#loading").hide();
                    Notification('', 'Something went wrong, Please try again', 'danger');
                }
            });
        }
    </script>
}